<div class="container mt-5 pt-3">
  <div class="row">
    <div class="col-md-3">
      <form action="">
        <div class="form-group">
          <label for="" class="">Search By Town Name:</label>
          <input type="text" class="form-control" placeholder="Enter Town Name" [(ngModel)]="cityName"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="searchByCity()">Search</button>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="loadBranches()"><i class="fa fa-refresh fa-lg"
              aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
    <div class="col-md-7">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Branch Name</th>
            <th>Town Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let branch of branchesList | searchPipe : townName">
            <td (click)="navigateTo(branch.Identification)" class="branch-name">{{branch.Name}}</td>
            <td>{{branch.PostalAddress.TownName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>