<div class="container mt-5 pt-3">
  <div *ngIf="branchDetail">
    <h6>Branch Name:</h6>
    <p class="pl-3"><b>{{branchDetail.Name}}</b></p>
    <h6>Branch Address:</h6>
    <p class="pl-3" *ngFor="let address of branchDetail.PostalAddress.AddressLine"><b>{{address}}</b></p>
    <h6>Branch Phone No. :</h6>
    <p class="pl-3" *ngFor="let phone of branchDetail.ContactInfo | contactPipe : 'Phone'">
      <b>{{phone.ContactContent}}</b></p>
  </div>
  <div>
    <a routerLink="/" class="btn btn-primary">Back</a>
  </div>
</div>